@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Zpix';
  src: url('assets/font/zpix.ttf'),
    url('assets/font/zpix.woff2');
}

@layer components {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}
